*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "azure-bold";
    src: url(assets/latest.woff2);
    font-weight: 600;
}
@font-face{
    font-family: "azure-medium";
    src: url(assets/latest\ \(1\).woff2);
    font-weight: 400;
}
@font-face{
    font-family: "azure-other";
    src: url(assets/MWFFluentIcons.woff2);
    font-weight: 600;
}
/* mobile and tab view header */
.header-container{
    width: 100%;
    height: 78px;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}
.header-hamburger{
    display: flex;
   min-width: 130px;
   height: 45.5px;
   align-items: center;
   /* justify-content: space-between; */
}
.hamburger-container{
    display: flex;
    padding: 1px 6px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    align-content: center;
    /* justify-content: space-between; */
    /* text-align: left; */
}
.hamburger-icon{
    width: 20px;
    height: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
}
.hamburger{
    width: 20px;
    height: 15px;
    margin-right: 0px;
}
.icon-text{
    font-family: "azure-bold";
    font-size: 17px;
    /* width: 44.17px; */
    letter-spacing: 0px;
    margin-left: 4px;
    /* letter-spacing: -4.8px; */
    /* line-height: 44px; */
}
.icon-text:hover{
    text-decoration: underline;
}
.header-microsoft-icon{
    padding-top: 3px;
    width: 32px;
    height: 33.25px;
}
.mobile-actions{
    display: flex;
    width: 130px;
    height: 54px;
    justify-content: flex-end;
}
.search-icon-container{
    display: flex;
    width: 44px;
    height: 44px;
    padding: 1px 6px;
    align-content: center;
    justify-content: center;
}
.search-icon{
    width: 22px;
    height: 22px;
    margin-top: 17px;
}
.sign-in-container{
    width: 77.95px;
    height: 54px;
    padding: 18px 20px 20px 20px;
}
.sign-in{
    width: 100%;
    font-family: "azure-medium";
    font-size: 12.9px;
    white-space: nowrap;
    letter-spacing: 0px;
    /* margin: auto; */
}
@media screen and (max-width:768px) {
    .second-header-container{
        display: none;
    }
    
}
@media screen and (min-width:1024px) {
    .header-container{
        display: none;
    }
    .second-header-container{
        display: flex;
        width: 100%;
        height: 55px;
        position: relative;
    }
    .azure-navbar{
        width: 100%;
        height: 53px;
        display: flex;
        padding: 0px 12px;
        margin-right: auto;
        align-items: center;
        
    }
    .azure-navbar-sectionone{
        display: flex;
        height: 30px;
    }
    .second-header-microsoft-icon{
        padding-top: 5px;
        width: 24px;
        height: 30px;
    }
    .microsoft-icon{
        width: 24px;
        height: 24px;
    }
    .icon-text{
        display: flex;
        align-items: center;
        margin-left: 12px;
    }
    .azure-navbar-sectiontwo{
        display: flex;
        height: 53px;
        margin-left: 12px;
    }
    .nav-container{
        display: flex;
        align-items: center;
        margin-top: 1px;
        height: 53px;
    }
    .nav-item-container{
        display: flex;
        height: 53px;
        padding: 20px 8px 20px 8px;
        align-items: center;
    }
    .nav-item-text{
        font-size: 13px;
        font-family:"azure-medium"; 
    }
    .nav-item-text:hover{
        text-decoration: underline;
    }
    .nav-item-downarrow::after{
        content: '\e70d';
        font-family: "azure-other";
        font-size: 8px;
        margin: 5px 0px 0px 4px;
        float: right;
    }
    .azure-navbar-right{
        display: flex;
    }
    .search-icon{
        width: 18px;
        height: 18px;
        margin-top: 17px;
    }
    .more-container{
        display: flex;
        width: 44px;
        height: 54px;
        padding: 15px 8px;
        /* align-items: center; */
        justify-content: center;
        /* justify-content: space-between; */
        /* text-align: left; */
    }
    .navbar-sign-in-container{
        width: 50.94px;
        height: 53px;
        padding: 20px 8px 20px 8px;
        align-items: center;
        justify-content: center;
    }
    .navbar-sign-in{
        font-size: 12.5px;
        font-family: "azure-medium";
        white-space: nowrap;
        letter-spacing: -0.4px;
    }
    .search-icon-container{
        display: flex;
        flex-wrap: initial;
        width: 44px;
        height: 44px;
        padding: 1px 6px;
        align-content: center;
        justify-content: center;
        margin-top: 0.45px;
    }
    
    
}
@media screen and (min-width:1440px) {
    
    .icon-text{
        margin-left: 24px;
    }
    .azure-navbar-sectiontwo{
        align-items: center;
        padding-top: 0px;
        margin-left: 24px;
    }
    .nav-container{
        align-items: center;
    }
    .nav-item-container{
        align-items: center;
    }
}
